page-seriehome {
  .toolbar-background.toolbar-background-ios {
    background-color: color($colors, p-red);
  }
  .fav{
    font-size: 2rem;
  }
    ion-card {
        margin: 0 !important;
        width: 100% !important;
        min-height: 0px !important;
      }
      .col{
        padding: 0px !important;
      }
      ion-card {
        margin: 0 !important;
        width: 100% !important;
      }
      .scroll-content{
          padding: 0px !important;
      }
      ion-segment {
        justify-content: space-between;
        overflow: auto;
        padding-top: 5px;
        
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            flex: 1 0 100px;
        }
    }
    ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow: auto;
  
      &::-webkit-scrollbar {
          width: 0;
          height: 0;
          display: none;
      }
  
      ion-segment-button.segment-button {
          display: inline-block;
          min-width: 100px;
          width: auto;
      }
  }

    ion-card {
      margin: 0 !important;
      width: 100% !important;
      min-height: 0px !important;
    }
    .col{
      padding: 0px !important;
    }
  
    ion-card {
      position: relative;
      text-align: center;
    }
  /* 
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    } */
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      bottom: 0px;
      padding-bottom: 10px;
      padding-top: 5px;
      width: 100%;
      color:#ecf0f1;
  
      background: rgba(0, 0, 0, 0.521);
      //background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 1%, rgba(0,0,0,0.21) 10%, rgba(17,3,3,1) 99%); /* FF3.6-15 */
      //background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 1%,rgba(0,0,0,0.21) 10%,rgba(17,3,3,1) 99%); /* Chrome10-25,Safari5.1-6 */
      //background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 1%,rgba(0,0,0,0.21) 10%,rgba(17,3,3,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#110303',GradientType=0 ); /* IE6-9 */
    }
    .iconn {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      position: absolute;
      width: 100%;
      font-size: 1em;
      color: #fff;
      background: -moz-linear-gradient(top, rgba(17,3,3,1) 0%, rgba(17,3,3,0.99) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(17,3,3,1) 0%,rgba(17,3,3,0.99) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(17,3,3,1) 0%,rgba(17,3,3,0.99) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#110303', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }
  /* 
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    } */
  }
  

