<!--
  Generated template for the MovihomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>المسلسلات</ion-title>
        <ion-buttons end (click)="search()">
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
      <div>
        <!-- <ion-scroll #scroll scrollX="true" class="browse-item-scrollx"> -->
        <!-- <ion-scroll scrollY="true" style="width: 100%; height: 100%;"> -->
        <ion-scroll #scroll scrollX="true" style="width:100%;white-space:nowrap; height: 40px">
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="a">
              اجنبية
            </ion-segment-button>
            <ion-segment-button value="b">
              عربي
            </ion-segment-button>
            <ion-segment-button value="c">
              هندي
            </ion-segment-button>
            <ion-segment-button value="d">
              انمي ومانجا
            </ion-segment-button>
            <ion-segment-button value="e">
              كورية
            </ion-segment-button>
            <ion-segment-button value="f">
              خليجية
            </ion-segment-button>
            <ion-segment-button value="g">
              تركية
            </ion-segment-button>
            <ion-segment-button value="h">
              مصرية
            </ion-segment-button>
            <ion-segment-button value="i">
              سورية - لبنانية
            </ion-segment-button>
    
          </ion-segment>
        </ion-scroll>
      </div>
    </ion-header>
    
    
    <ion-content padding>
    
    
      <div [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'a'">
          <ion-row>
            <ion-col *ngFor="let movie of data1" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'8')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
    
        <ion-list *ngSwitchCase="'b'">
          <ion-row>
            <ion-col *ngFor="let movie of data2" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'15')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
        <ion-list *ngSwitchCase="'c'">
          <ion-row>
            <ion-col *ngFor="let movie of data3" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'12')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
        <ion-list *ngSwitchCase="'d'">
          <ion-row>
            <ion-col *ngFor="let movie of data4" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'7')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
        <ion-list *ngSwitchCase="'e'">
          <ion-row>
            <ion-col *ngFor="let movie of data5" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'11')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
        <ion-list *ngSwitchCase="'f'">
          <ion-row>
            <ion-col *ngFor="let movie of data6" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'8')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
        <ion-list *ngSwitchCase="'g'">
          <ion-row>
            <ion-col *ngFor="let movie of data7" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'10')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
        <ion-list *ngSwitchCase="'h'">
          <ion-row>
            <ion-col *ngFor="let movie of data8" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'13')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
        <ion-list *ngSwitchCase="'i'">
          <ion-row>
            <ion-col *ngFor="let movie of data9" col-6>
              <ion-card>
                <div class="iconn">
                  {{movie.name}}{{movie.title}}
                  <br> {{movie.type == 'epi' ? ('S'+ movie.season +' E'+ movie.num) : ''}}
                </div>
    
                <img (click)='goToDetailsPage(movie)' [src]="'https://image.tmdb.org/t/p/w'+ size + movie.poster" [alt]="movie.title">
                <div class="card-subtitle">
                  <ion-row>
                    <ion-col class="fav">
                      <ion-icon (click)="unfavoriteFilm(movie)" *ngIf="movie.fav" name="ios-bookmark"></ion-icon>
                      <ion-icon (click)="favoriteFilm(movie)" *ngIf="!movie.fav" name="ios-bookmark-outline"></ion-icon>
                      <!-- <ion-icon name="md-heart"></ion-icon> -->
                    </ion-col>
                    <ion-col>
                      <div>الحلقات
                      </div>
                      <div>{{movie.Epi}}</div>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="md-time"></ion-icon>
                      <div>{{movie.release_date | date: 'yyyy'}}{{movie.first_air_date | date: 'yyyy'}}</div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-infinite-scroll (ionInfinite)="load($event,'14')">
            <ion-infinite-scroll-content loadingText="... جار التحميل." loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
    
    
      </div>
    </ion-content>